/* ---------- navbar ---------- */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    position: fixed;
    top: 0px;
    background-color: white;
    border: solid rgb(112, 110, 110);
    width: 100%;
    border-width: 0 0 1px 0;
    padding-top: 5px;
    padding-right: 8px;
}

.nav-icon-side, .nav-logo-side, .nav-btn-side {
    display: flex;
    flex: 1;
}

.nav-icon-side {
    padding: 8px;
}

.fa-bars {
    margin-right: 25px;
}

.fa-search {
    margin-right: 25px;
}

.nav-icon-side a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
    font-family: sans-serif;
}

.nav-btn-side {
    justify-content: flex-end;
}

.nav-btn-side button {
    height: 88%;
    margin-right: 10px;
    font-weight: bold;
    font-size: 11px;
    background-color: rgb(86, 123, 149);
    border-radius: 2px;
    border: 1px solid rgb(86, 123, 149);
    color: white;
}

.logo {
    height: 35px;
    margin-left: auto;
    margin-right: auto;
}

/* -------- End nav -------- */
/* -------- Main header -------- */

.main-article {
    padding-top: 100px;
}

.main-article {
    width: 100%;
}

.img-article img {
    width: 100%;
}

.main-title .header {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.main-title .header h2 {
    font-size: 40px;
    font-style: italic;
    margin-left: 180px;
}

.main-title .header p {
    color: rgb(94, 89, 89);
}

.main-title .header span {
    color: rgb(146, 140, 140);
    font-size: 14px;
}

/* -------- End Header -------- */
/* -------- article content -------- */

.article-content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.header-article h3 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.header-article {
    margin-top: 50px;
}

.link-box {
    display: flex;
    align-items: center;
}

.icons-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
} 

.icons-link i {
    margin-right: 15px;
    background-color: rgb(236, 222, 222);
    border-radius: 15px;
    align-self: center;
    height: 22px;
    width: 30px;
    text-align: center;
    padding-top: 8px;
    font-size: 15px;
}

.link-number {
    height: 30px;
    
}

.link-date {
    display: flex;
    flex: 1;
}
/* -------- End article content -------- */
/* -------- Main article content -------- */

.article-content p {
    font-size: 20px;
    letter-spacing: 1.5px;
    text-align: justify;
}

.link-date p {
    font-size: 14px;
    color: rgb(116, 112, 112);
    font-family: sans-serif;
}

/* -------- End article content -------- */
/* -------- Transitions and separators -------- */

.article-transition {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
}

.separator-i {
    width: 5%;
    height: 1px;
    background-color: rgb(179, 173, 173);
}

.article-transition a {
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: -15px;
    color: rgb(65, 95, 114);
    font-weight: bold;
}

/* -------- End Transitions -------- */
/* -------- Transition with images -------- */

.img-and-article {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.element-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.elmt {
    margin: 7px;
    font-family: sans-serif;
    font-size: 12.5px;
    letter-spacing: 1px;
}

.elmt p span {
    font-weight: bold;
    font-size: 11px;
    color: black;
    margin-right: 20px;
}

.img-and-article p {
    color: rgb(114, 108, 108); 
}

.img-and-article img {
    width: 100%;
    height: 150px;
}

.separator-author {
    width: 7.5%;
    height: 1px;
    background-color: rgb(179, 173, 173);
}

.img-and-article h3 {
    font-weight: lighter;
    font-family: sans-serif;
    font-size: 14px;
}

/* -------- End Transitions -------- */
/* -------- Video and img describers -------- */

.article-content .div .video-descrip {
    font-size: 14.5px;
    color: rgb(114, 108, 108); 
}

.article-content .div .video-descrip span {
    font-size: 13.5px;
    color: rgb(153, 144, 144); 
}

.img-desc img {
    width: 100%;
}

.img-desc p {
    font-size: 14.5px;
    color: rgb(114, 108, 108); 
}

.img-desc p span {
    font-size: 13.5px;
    color: rgb(153, 144, 144);
}

/* -------- End Describers -------- */

.article-content .article-extend {
    font-size: 11px;
    font-family: sans-serif;
}

.article-content .article-extend a {
    color: rgb(83, 79, 79);
}

/* --------- Prepare footer ---------- */
.article-content .art-footer {
    margin-top: 25px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.article-content .art-footer button {
    font-weight: bold;
    padding: 8px 80px;
    font-size: 14px;
    background-color: rgb(86, 123, 149);
    border-radius: 2px;
    border: 1px solid rgb(86, 123, 149);
    color: white;
}

iframe {
    width: 100%;
}

/* ------------ Realted post design ------------ */

.separator-more {
    height: 1px;
    width: 100%;
    background-color: rgb(179, 173, 173);
}

.more {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.more-main {
    width: 100%;
    padding-left : 10px;
    padding-right: 10px;
}

.more-card {
    margin: 10px;
}

.more-2 {
    margin-top: 50px;
}

.more-1-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding : 5px;
}

.more-1-header p {
    font-size: 12px;
    font-family: sans-serif;
}

.more-1-header h2 {
    font-size: 18px;
}

.more-1-elmt {
    margin: 7.5px;
    border: 1px solid rgb(228, 217, 217);
    padding: 10px;
}

.more-1-elmt i {
    float: right;
    padding: 8px;
    border-radius: 23px;
    border: 1px solid black;
}

.more-1-elmt .texts {
    font-family: sans-serif;
}

.more-1-elmt .link {
    font-weight: bold;
    position: relative;
    bottom: 5px;
    align-self: flex-end;
}

.more-1-elmt .link a {
    color: rgb(90, 121, 139);
    text-decoration: none;
}

.more-1-elmt .titles h4 {
    font-family: sans-serif;
    font-size: 12px;
    color: rgb(179, 173, 173);
    font-weight: lighter;
}

.more-1-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.more-2-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.more-2-body .more-card img {
    width: 100%;
}

.more-card h5 {
    text-align: end;
    font-weight: lighter;
    color: rgb(197, 184, 184);
    font-size: 10px;
    font-family: sans-serif;
    margin-top: 3px;
}

.more-card h4 {
    text-align: start;
    font-weight: lighter;
    color: rgb(197, 184, 184);
    font-size: 10px;
    font-family: sans-serif;
    margin-top: 3px;
}

.more-card p {
    font-size: 18px;
}

/* ------------ End Realted post design ------------ */