/* ---------- navbar ---------- */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    position: fixed;
    top: 0px;
    background-color: white;
    border: solid rgb(112, 110, 110);
    width: 100%;
    border-width: 0 0 1px 0;
    padding-top: 5px;
    padding-right: 8px;
}

.nav-icon-side, .nav-logo-side, .nav-btn-side {
    display: flex;
    flex: 1;
}

.nav-icon-side {
    padding: 8px;
}

.fa-bars {
    margin-right: 25px;
}

.fa-search {
    margin-right: 25px;
}

.nav-icon-side a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
    font-family: sans-serif;
}

.nav-btn-side {
    justify-content: flex-end;
}

.nav-btn-side button {
    height: 88%;
    margin-right: 10px;
    font-weight: bold;
    font-size: 11px;
    background-color: rgb(86, 123, 149);
    border-radius: 2px;
    border: 1px solid rgb(86, 123, 149);
    color: white;
}

.logo {
    height: 35px;
    margin-left: auto;
    margin-right: auto;
}

/* -------- End nav -------- */
/* -------- Main header -------- */

.main-article {
    padding-top: 100px;
}

.main-article {
    width: 100%;
}

.img-article img {
    width: 100%;
}

.main-title .header {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.main-title .header h2 {
    font-size: 40px;
    font-style: italic;
    margin-left: 180px;
}

.main-title .header p {
    color: rgb(94, 89, 89);
}

.main-title .header span {
    color: rgb(146, 140, 140);
    font-size: 14px;
}

/* -------- End Header -------- */
/* -------- article content -------- */

.article-content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.header-article h3 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.header-article {
    margin-top: 50px;
}

.link-box {
    display: flex;
    align-items: center;
}

.icons-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
} 

.icons-link i {
    margin-right: 15px;
    background-color: rgb(223, 207, 207);
    border-radius: 15px;
    align-self: center;
    height: 22px;
    width: 30px;
    text-align: center;
    padding-top: 8px;
    font-size: 15px;
}

.link-number {
    height: 30px;
    
}

.link-date {
    display: flex;
    flex: 1;
}

.link-date p {
    font-size: 14px;
    color: rgb(116, 112, 112);
    font-family: sans-serif;
}
/* -------- End article content -------- */
/* -------- Main article content -------- */

.article-content p {
    font-size: 20px;
    letter-spacing: 1.5px;
}

/* -------- End article content -------- */